@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    margin :0;
    background-color: #210002;
    font-family: Poppins;
    font-size: 15px;
}


/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background:rgba(0, 128, 0);
    backdrop-filter: blur(50px);
    position: fixed;
    top: 0;left:0;right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 500;
    color:black;
    font-style:italic;
    text-decoration: none;
}

.navbar .navbar-logo span{
    color:red;
}